<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bottle.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bottle.type %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @bottle.volume %>
</p>

<p>
  <strong>Proof:</strong>
  <%= @bottle.proof %>
</p>

<p>
  <strong>Released:</strong>
  <%= @bottle.released %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bottle.price %>
</p>

<p>
  <strong>Acquired on:</strong>
  <%= @bottle.acquired_on %>
</p>

<p>
  <strong>Open:</strong>
  <%= @bottle.open %>
</p>

<p>
  <strong>Box:</strong>
  <%= @bottle.box %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @bottle.notes %>
</p>

<p>
  <strong>Score:</strong>
  <%= @bottle.score %>
</p>

<p>
  <strong>Tradable:</strong>
  <%= @bottle.tradable %>
</p>

<p>
  <strong>Sellable:</strong>
  <%= @bottle.sellable %>
</p>

<p>
  <strong>Stocked:</strong>
  <%= @bottle.stocked %>
</p>

<p>
  <strong>Open:</strong>
  <%= @bottle.open %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @bottle.finished %>
</p>

<%= link_to 'Edit', edit_bottle_path(@bottle) %> |
<%= link_to 'Back', bottles_path %>
